/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
  margin: 0 20px;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
  margin: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

#menu {
  display: flex;
  justify-content: space-around;
  margin: 0 60px;
  font-weight: bold;
}

#stay h2 {
  font-size: 45px;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display:flex;
  flex-direction: column;
  font-size: 20px;
}

form div {
  display:flex;
  justify-content: space-between;
  margin: 0 40px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  About ------- */

#about {
  display: flex;
  flex-direction: column;
}

#about img {
  width:auto;
  margin: 20px;
}

#about p {
  font-size: 20px;
}

/* -------  Ideas ------- */

#ideas {
  display: flex;
  flex-direction: column;
}

#ideas h2 {
  font-size: 35px;
}

#ideas h3 {
  margin: 0 40px;
  font-size: 25px;
}

#ideas div img {
  width: 30em;
  margin: 40px;
}

/* -------  Host ------- */

#host {
  display: flex;
  flex-direction: column;
}

#host h2 {
  font-size: 40px;
  font-weight: bold;
}

#host p {
  font-size: 25px;
}

#host ul {
  font-size: 23px;
}

#host img {
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 40px;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 25px;
}



/* -------  Media Query ------- */

@media all and (min-width: 600px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  form {
    flex-direction: row;
    justify-content: space-between;
  }

  form div {
    flex-direction: column;
  }

  form button {
    width: 200px;
  }

  #about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  #about img {
    width:20em;
    margin: 20px;
  }

  #about h2 {
    width: 100%;
  }

  #about p {
    width: 40em;
    align-content: center;
  }

  #ideas {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #ideas h2 {
    width: 80em;
  }

  #ideas div {
    width: 50em;
  }

  #host {
    flex-direction: row;
    align-content: center;
  }
  #host img {
    width: 50em;
  }
}